Homeassistant üzerinden gelen 30 günlük "telefon şarjda mı değil mi ?" data seti üzerinde yorumlamalar.

In [83]:
import pandas as pd

In [92]:
dataframe = pd.read_csv('Source/PhoneChargingState.csv')
dataframe = dataframe.drop(columns="state.hour")

In [93]:

dataframe["time"] = pd.to_datetime(dataframe["time"])

In [94]:
dataframe.dtypes

time           datetime64[ns, pytz.FixedOffset(180)]
state.value                                    int64
dtype: object

In [87]:
dataframe[dataframe["state.value"] == 1].count() # 621 kez telefonu şarja takmışım.

time           621
state.value    621
dtype: int64

In [108]:
dataframe

                                 time  state.value
0    2022-01-20 16:41:59.185000+03:00            1
1    2022-01-20 16:43:05.585000+03:00            0
2    2022-01-20 16:50:25.380000+03:00            0
3    2022-01-20 17:14:38.861000+03:00            1
4    2022-01-20 17:15:34.099000+03:00            0
...                               ...          ...
1737 2022-02-19 15:02:53.145000+03:00            0
1738 2022-02-19 15:03:00.604000+03:00            1
1739 2022-02-19 15:03:04.794000+03:00            0
1740 2022-02-19 15:10:50.459000+03:00            1
1741 2022-02-19 15:10:53.883000+03:00            0

[1742 rows x 2 columns]

In [134]:
timestamp = pd.to_datetime("2022-01-25")
dataframe["time"].dt.date < timestamp

0        True
1        True
2        True
3        True
4        True
        ...
1737    False
1738    False
1739    False
1740    False
1741    False
Name: time, Length: 1742, dtype: bool