Homeassistant üzerinden gelen 30 günlük "telefon şarjda mı değil mi ?" data seti üzerinde yorumlamalar.

In [1]:
import pandas as pd

In [11]:
dataframe = pd.read_csv('Source/PhoneChargingState.csv')
dataframe

                               time  state.hour  state.value
0     2022-01-20T16:41:59.185+03:00         NaN            1
1     2022-01-20T16:43:05.585+03:00         NaN            0
2     2022-01-20T16:50:25.380+03:00         NaN            0
3     2022-01-20T17:14:38.861+03:00         NaN            1
4     2022-01-20T17:15:34.099+03:00         NaN            0
...                             ...         ...          ...
1737  2022-02-19T15:02:53.145+03:00         NaN            0
1738  2022-02-19T15:03:00.604+03:00         NaN            1
1739  2022-02-19T15:03:04.794+03:00         NaN            0
1740  2022-02-19T15:10:50.459+03:00         NaN            1
1741  2022-02-19T15:10:53.883+03:00         NaN            0

[1742 rows x 3 columns]

In [14]:
dataframe.drop('state.hour',axis=1)

                               time  state.value
0     2022-01-20T16:41:59.185+03:00            1
1     2022-01-20T16:43:05.585+03:00            0
2     2022-01-20T16:50:25.380+03:00            0
3     2022-01-20T17:14:38.861+03:00            1
4     2022-01-20T17:15:34.099+03:00            0
...                             ...          ...
1737  2022-02-19T15:02:53.145+03:00            0
1738  2022-02-19T15:03:00.604+03:00            1
1739  2022-02-19T15:03:04.794+03:00            0
1740  2022-02-19T15:10:50.459+03:00            1
1741  2022-02-19T15:10:53.883+03:00            0

[1742 rows x 2 columns]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices