#### Pandas Dataframe Oluşturma

In [1]:
import pandas as pd

In [8]:
import numpy as np

In [6]:
l = [1,256,65,55,56,76,87,93]

In [7]:
pd.DataFrame(l,columns=["numaralar"])

   numaralar
0          1
1        256
2         65
3         55
4         56
5         76
6         87
7         93

In [10]:
m = np.random.randint(10,size=(3,3))
m

array([[4, 8, 5],
       [4, 2, 5],
       [0, 3, 5]])

In [12]:
df = pd.DataFrame(m,columns=["1. sütun","2. sütun","3. sütun"])

> Sütun yeniden isimlendirme

In [14]:
df.columns = ("deg1","deg2","deg3")
df

   deg1  deg2  deg3
0     4     8     5
1     4     2     5
2     0     3     5

In [15]:
df.ndim

2

In [17]:
df.shape

(3, 3)

In [18]:
df.size

9

In [19]:
type(df.values)

numpy.ndarray