#### Gruplama İşlemleri

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns

In [12]:
df = pd.DataFrame({"Gruplar":["A","B","C","A","B","C"],
                    "Veri":[10,11,12,13,14,16]})

df

  Gruplar  Veri
0       A    10
1       B    11
2       C    12
3       A    13
4       B    14
5       C    16

In [14]:
df.groupby("Gruplar")

In [17]:
df.groupby("Gruplar").mean() # Gruplar sütunundaki değerlerin ortalamasını alır.
# Tekrar eden grup değerlerini tek tip olarak alır.

         Veri
Gruplar
A        11.5
B        12.5
C        14.0

In [18]:
df.groupby("Gruplar").sum()

         Veri
Gruplar
A          23
B          25
C          28

In [20]:
planets = sns.load_dataset("planets")
planets.head(10)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008
6  Radial Velocity       1        1773.400   4.64     18.15  2002
7  Radial Velocity       1         798.500    NaN     21.41  1996
8  Radial Velocity       1         993.300  10.30     73.10  2008
9  Radial Velocity       2         452.800   1.99     74.79  2010

In [26]:
planets.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64