Toplulaştırma ve Gruplama (Aggregation ve Gruplama)

Basit Toplulaştırma Fonksiyonları:

* count()
* first() 
* last()
* mean() 
* median()
* min()
* max()
* std()
* var()
* sum()

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df = sns.load_dataset("planets")

In [7]:
df.head(10)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009
5  Radial Velocity       1         185.840   4.80     76.39  2008
6  Radial Velocity       1        1773.400   4.64     18.15  2002
7  Radial Velocity       1         798.500    NaN     21.41  1996
8  Radial Velocity       1         993.300  10.30     73.10  2008
9  Radial Velocity       2         452.800   1.99     74.79  2010

In [8]:
df.shape

(1035, 6)

In [9]:
df.ndim

2

In [10]:
df.size

6210

In [12]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [23]:
df.count # kaç sütun kaç satırdan oluştuğunu döner

<bound method DataFrame.count of                method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]>

In [25]:
df.count() # Hangi sütunda kaç adet değer olduğunu döner

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [27]:
df.count(numeric_only=True) #Sadece numeric olan sütunlarda kaç adet değer olduğunu döner

number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [37]:
df["mass"].count() # mass içerisindeki değerlerin adedi.

513

In [30]:
df.mean() # her sütunun ortalamasını döndü

C:\Users\musak\AppData\Local\Temp\ipykernel_19448\546470627.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean() # her sütunun ortalamasını döndü

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [32]:
df["mass"].mean() # Spesifik olarak bir sütunun ortalamasını bulmak istediğimizde.

2.6381605847953216

In [39]:
df["mass"].max() # mass içerisindeki en büyük değer

25.0

In [40]:
df["mass"].min() # mass içerisindeki en küçük değer

0.0036

In [42]:
df["mass"].sum() # mass içerisindeki değerlerin toplamı

1353.37638

In [44]:
df["mass"].var() # mass sutununun varyansını verir.

14.58183312700122

In [47]:
df.describe() # Tüm tanımlayıcı istatistikleri gösterir.

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [49]:
df.describe().T # transpozu alınmış bir şekilde döndürür.

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [51]:
df.dropna().describe().T # Eksik veriler silinerek tanımlayıcı istatistik yapar.

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0